#! /bin/sh

# SPDX-FileCopyrightText: 2022 David Arnold <dgx.arnold@gmail.com>
# SPDX-FileCopyrightText: 2022 Kevin Amado <kamadorueda@gmail.com>
#
# SPDX-License-Identifier: Unlicense

# for debugging, change to:
# source_env ./direnv_lib.sh

source_url \
  "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
  "sha256-cowflfZ/4GX3OmgVUBKqJowVxTgUXK2SSyiHuKhhKw4="
use std cells //std/devshells:default
