#!/bin/sh

# shellcheck disable=SC1090
. "$(fetchurl "https://github.com/paisano-nix/direnv/raw/bd36f51b9d566d8a36e230dab638abf3074625c3/lib" "sha256-IgQhKK7UHL1AfCUntJO2KCaIDJQotRnK2qC4Daxk+wI=")"

use envreload //repo/shells/default //repo/config
