name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - uses: nixbuild/nix-quick-install-action@v25

      - run: (cd ./src/local && nix flake lock --update-input std)
      - run: (cd ./src/tests && nix flake lock --update-input std)
      - run: nix store add-path --name source .
      - run: nix develop .#book -c mdbook build ./docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/book
          cname: std.divnix.com
