name: 'Standard CI'

on:
  workflow_call:
    inputs:
      runs-on:
        required: true
        type: string

permissions:
  contents: read

jobs:
  discovery: # make sure the action works on a clean machine without building
    runs-on: ${{ inputs.runs-on }}
    steps:
      # Configure Nix
      - uses: nixbuild/nix-quick-install-action@v22
        with:
          nix_conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true
            trusted-users = runner
            access-tokens = github.com=${{ github.token }}

      - name: Detect current system
        id: system
        run: 'printf "currentSystem=$(nix eval --raw --impure --expr builtins.currentSystem)" >> "$GITHUB_OUTPUT"'

      - uses: actions/checkout@v3
      - uses: ./.github/actions/update-subflake.yml

      # Execute Discovery. It will schedule builds on `worker` job below
      - uses: DevPalace/phoenix-ci/discovery@v1.1
        id: discovery
        with:
          # Attribute paths to search for targets
          attrPaths: __std.ci.${{ steps.system.outputs.currentSystem }}
          flake: "." # we use checkout and update the subflakes

          # Disable caching since discovery does not do much most of the time
          nixStoreCachingEnabled: false
          nixEvalCacheCachingEnabled: true
    outputs:
      hits: ${{ steps.discovery.outputs.hits }}


  namaka:
    name: "//${{ matrix.target.cell }}/${{ matrix.target.block }}/${{ matrix.target.name }}:${{ matrix.target.action }}"
    if: ${{ matrix.target.type }} == "namaka"
    needs: [discovery]
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.discovery.outputs.hits) }}
    steps:
      # Configure Nix
      - uses: nixbuild/nix-quick-install-action@v22
        with:
          nix_conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true
            trusted-users = runner
            access-tokens = github.com=${{ github.token }}

      - uses: actions/checkout@v3
      - uses: ./.github/actions/update-subflake.yml
      - uses: DeterminateSystems/magic-nix-cache-action@main

      # Executes builds per each found target in discovery
      - uses: DevPalace/phoenix-ci/worker@v1.1
        id: worker
        with:
          target: ${{ toJSON(matrix.target) }}
          flake: "." # we use checkout and update the subflake
  rest:
    name: "//${{ matrix.target.cell }}/${{ matrix.target.block }}/${{ matrix.target.name }}:${{ matrix.target.action }}"
    if: ${{ matrix.target.type }} != "namaka"
    needs: [discovery, namaka]
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.discovery.outputs.hits) }}
    steps:
      # Configure Nix
      - uses: nixbuild/nix-quick-install-action@v22
        with:
          nix_conf: |
            experimental-features = nix-command flakes
            accept-flake-config = true
            trusted-users = runner
            access-tokens = github.com=${{ github.token }}

      - uses: actions/checkout@v3
      - uses: ./.github/actions/update-subflake.yml
      - uses: DeterminateSystems/magic-nix-cache-action@main

      # Executes builds per each found target in discovery
      - uses: DevPalace/phoenix-ci/worker@v1.1
        id: worker
        with:
          target: ${{ toJSON(matrix.target) }}
          flake: "." # we use checkout and update the subflake

